.TextPostNewContainer {
  position: fixed;
  width: 80vw;
  height: 80vh;
  top: 5vh;
  left: 10vw;
  padding: 20px;
  background-color: lightblue;
  border-radius: 5px;
}

.TextPostNewContainer.hide {
  display: none;
}

.TextPostNewContainer button {
  background-color: lightgray;
  border: 1px solid gray;
}


.TextPostNewContainer button:hover {
  background-color: gray;
  color: white;
}